@{
    ViewData["Title"] = "Login";
}

<header>
    <link href="/css/style.css" rel="stylesheet" />
</header>

<div class="row justify-content-center">
    <div class="text-center p-5" style="font-family: 'Caveat', cursive;">
        <h1>Logo Here</h1>
        <h4>Flowers and Alcohols to Celebrate or to Contemplate</h4>
        <a id="hoverButton" class="btn btn-danger" asp-area="" asp-controller="Home" asp-action="Inventory">
           Click!
        </a>
    </div>
    <div class="col-md-4 rounded-3 m-5 px-4 py-2" style="background-color: #2D4F2B;">
        <h2 class="text-center mb-4" style="color: #FFB823;">Login</h2>

        <form asp-controller="Account" asp-action="Login" method="post">
            <div class="form-group pt-4">
                <input type="text" class="form-control  rounded-pill" id="Username" name="Username" placeholder="Username" required />
            </div>

            <div class="form-group pt-4">
                <input type="password" class="form-control  rounded-pill" id="Password" name="Password" placeholder="Password" required />
            </div>

            <div class="form-check mb-3">
                <input type="checkbox" class="form-check-input" id="RememberMe" name="RememberMe" />
                <label class="form-check-label text-white" for="RememberMe">Remember Me</label>
            </div>

            <div class="text-center">
                <button type="submit" class="btn btn-block rounded-pill" style="width: 200px; background-color: #FFB823; color: white; font-weight: bold;">Login</button>
            </div>
            

            <div class="text-center mt-3">
                <p class="text-white">Don't have an account? <a asp-area="" asp-controller="Home" asp-action="Register">Create Account</a></p>
            </div>
        </form>
    </div>
</div>